<div id="product-list">
  <h1>Product Listing</h1>

  <table cellpadding="5" cellspacing="0">
  <% for product in @products %>
    <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">

      <td>
        <img class="list-image" src="<%= product.image.url(:thumb) %>"/>
      </td>

      <td width="60%">
        <span class="list-title"><%= h(product.title) %></span><br />
        <%= h(truncate(product.description, :length => 80)) %>
      </td>

      <td class="list-actions">
        <%= link_to 'Show', admin_product_url(:id => product) %><br/>
        <%= link_to 'Edit', edit_admin_product_url(:id => product) %><br/>
        <%= link_to 'Destroy', admin_product_url(:id => product),
                                 :confirm => "Are you sure?",
                                 :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New product', new_admin_product_url %>
